.learning {
    min-height: 600px;
    &__line {
        display: flex;
        max-width: 495px;
        margin: 14px auto 66px;
        border-bottom: 3px solid $bg-bt-link;
    }
    &__title {
        color: $color-white;
    font-size: clamp(0.75rem, 0.471rem + 1.14vw, 1.5rem);
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
    }

}    
