// color 
$bg-body: #152039;
$color-white: #fff;
$accent: #429ACC;
$bg-bt-link: #FF9600;
$color-dark: #000;
$color-gray: #585858;


$border: 1px solid $color-white;
$border-radius: 15px;
$border-radius-small: 0px 53px 53px 0px;

$shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);

$font-family-base: 'MontserratRegular', sans-serif;


$button-height: 40px;
$button-height-small: 32px;

$transition-duration: 0.3s;